# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# CocoaPods
Pods/
*.podspec.lock

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# XcodeGen
*.xcodeproj
!project.yml

# Keep workspace from CocoaPods
!WWSwift.xcworkspace
